<html>
    <head>
        {% if title %}
        <title>{{ title }} - crypto_web</title>
        {% else %}
        <title>Welcome to crypto_web</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body style="background-color: #333; color: #f2f2f2">
        <div class="topnav">
            <a href="/index">Home</a>
            <a href="/aes">AES</a>
            <a href="/des">DES</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

<style>
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
</style>
