{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center" style="background-color: black">
        <h1>TripleDES Algorithm</h1>
        <p>Encrypt or Decrypt the Message using TripleDES with CTR Mode</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.keytext.label }}
                        <br>
                        {{ form.keytext(class_="keytext-style") }}
                        {% for error in form.keytext.errors %}
                            <span style="color: red;">[{{error}}] </span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.text.label }}
                        <br>
                        {{ form.text(class_="text-style",cols="20", rows="1", id='larger') }}
                        {% for error in form.text.errors %}
                            <span style="color: red;">[{{error}}] </span>
                        {% endfor %}
                    </p>
                    {% for subfield in form.encdec %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                    <p style="color: #333">
                        {{ form.calculate() }}
                    </p>
                </form>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <style>
        .keytext-style {
            background-color: #333;
        }
        .text-style {
            background-color: #333;
        }
    </style>
{% endblock %}
