{% extends "base.html" %}

{% block content %}
    
    <div class="jumbotron text-center" style="background-color: black">
        <h1>Welcome to crypto_web</h1>
        <p>crypto_web built with Python 3 and Flask by Akhmal and Farhan</p>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3><a href="/des">Data Encryption Standard</a></h3>
            <p>Lorem ipsum dolor..</p>
          </div>
          <div class="col-sm-4">
            <h3><a href="/aes">Advanced Encryption Standard</a></h3>
            <p>Lorem ipsum dolor..</p>
          </div>
          <div class="col-sm-4">
            <h3>Counter Block Cipher Mode</h3>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>
    </div>

{% endblock%}